<h1>User#account_activation</h1>

<p>Hi <%= @user.name %>,</p>
<p>
Welcome to the Sample App! Click on the link below to activate your account:
</p>
<%= link_to "Activate my account!", @activation_url %>
